body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.green {
    background-color: #018786;
}

.lightgreen {
    background-color: #03DAC6;
}

.text-green {
    color: #018786;
}

.text-white {
    color: white;
}
.h1-text {
    font-size: 40px;
}
.btn-primary {
    border: none !important;
  }

  .fixed-top-custom {
      position: sticky;
      top:0;
  }

  .fixed-bottom-custom {
    position: sticky;
    bottom:0;
}